.App {
  text-align: center;
  background: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  background: #2b579a;
}


.root-57{
  width: 70px;
  font-size: 50px;
}

.icon{
  width: 70px;
  font-size: 50px;
}

.wrapper {    
  max-width: 500px;    
  margin: auto;    
  background: #61dafb;    
  margin-top: 50px;    
  display: flex;    
  flex-direction: column;    
  padding-left: 50px;    
  padding-right: 50px;    
  padding-bottom: 50px;    
}     
